.container {
    width: 100vw;
    padding: 2rem;
    background-color: white;
}

.task {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task .text {
    margin: 0;
}

.task .text .description {
    font-weight: bold;
}

.task .action-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.task.completed {
    background-color: green;
}
